<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tamil.catimagepicker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".ImagePicker"
            android:launchMode="singleTask"
            android:taskAffinity="com.imagepicker.new"
            android:theme="@style/Theme.TheCatLibApi" />
    </application>
</manifest>
